.about {
    width: 100%;
    height: 100vh;
    background-color: $hero-bg;
    display: none;

    &__wrapper {
        display: flex;

        @media (max-width: $breakpoints768) {
            display: block;
            text-align: center;
        }
    }

    &__info {
        max-width: 50%;

        @media (max-width: $breakpoints1024) {
            max-width: 95%;
        }
    }

    &__name {
        margin: 100px 0 60px;
        font-size: 54px;
        letter-spacing: .2rem;

        @media (max-width: $breakpoints1440) {
            margin: 80px 0 45px;
            font-size: 48px;
        }

        @media (max-width: $breakpoints1280) {
            margin: 60px 0 30px;
            font-size: 44px;
        }

        @media (max-width: $breakpoints768) {
            margin-right: 38px;
        }
    }

    &__text {
        font-size: 24px;
        letter-spacing: .2rem;
        line-height: 1.7;

        @media (max-width: $breakpoints1440) {
            font-size: 22px;
        }

        @media (max-width: $breakpoints1280) {
            font-size: 20px;
            line-height: 1.6;
        }

        @media (max-width: $breakpoints1024) {
            font-size: 18px;
            line-height: 1.5;
            letter-spacing: .1rem;
        }
    }

    &__social {
        margin-top: 60px;
        display: flex;

        @media (max-width: $breakpoints1280) {
            margin-top: 40px;
        }

        @media (max-width: $breakpoints768) {
            justify-content: center;
        }
    }

    &__link {
        &:not(:last-child) {
            margin-right: 35px;

            @media (max-width: $breakpoints768) {
                margin-right: 20px;
            }
        }

        img {
            width: 100%;

            &:hover {
                transform: scale(1.2) rotate(360deg);
                transition: $trs;
            }

            @media (max-width: $breakpoints1280) {
                width: 85%;
            }
        }
    }

    &__bg {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;

            @media (max-width: $breakpoints1440) {
                width: 80%;
            }

            @media (max-width: $breakpoints1024) {
                display: none;
            }
        }
    }
}