* {
    box-sizing: border-box;
    &:before,
    &::after {
        box-sizing: border-box;
    }
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: $main-font-family;
    color: $text-color;
    width: 100vw;
    overflow: hidden;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: $text-color;
    display: block;
    cursor: pointer;
}

.wrapper {
    display: flex;
}

.conteiner {
    max-width: 92%;
    margin: 0 auto;
    padding: 0 10px;
}

.title {
    font-size: 38px;
    margin-top: 50px;
    letter-spacing: .3rem;
    position: relative;
    width: 120px;

    @media (max-width: $breakpoints1280) {
        font-size: 36px;
    }

    @media (max-width: $breakpoints768) {
        font-size: 26px;
        margin-left: 50%;
        transform: translate(-50%);
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: $primary-color;

        @media (max-width: $breakpoints768) {
            width: 100px;
        }
    }
}
