* {
    box-sizing: border-box;
    &:before,
    &::after {
        box-sizing: border-box;
    }
}

body {
    margin: 0;
    font-family: $main-font-family;
    color: $text-color;
    width: 100vw;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: $text-color;
    cursor: pointer;
}

.conteiner {
    max-width: 95%;
    margin: 0 auto;
}