$primary-color: #ff4ba8;
$sidebar-bg: rgb(14, 19, 38);
$hero-bg: rgb(10, 15, 30);
$hover-color: #433662;
$text-color: #ffffff;
$white: #fff;

$breakpoints1660: 1660px;
$breakpoints1440: 1440px;
$breakpoints1280: 1280px;
$breakpoints1024: 1024px;
$breakpoints768: 769px;
$breakpoints480: 480px;
$breakpoints375: 375px;

$main-font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
$trs: all linear .4s;


