$primary-color: #341b69;
$hover-color: #261748;
$text-color: #48555B;
$white: #fff;
$footer-color: #141A20;
$input-bg-color: #171819;

$main-font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
$trs: all linear .3s;