.works {
    width: 100%;
    height: 100vh;
    background-color: $hero-bg;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: $hero-bg;
    }

    &::-webkit-scrollbar-thumb {
        background: $primary-color;
        border-radius: 8px;
        border: 3px solid $hero-bg;
    }

    &__cards {
        margin: 40px 0 -25px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        margin: 25px 0;

        @media (max-width: $breakpoints1024) {
            margin: 25px auto;
        }

        @media (max-width: $breakpoints480) {
            margin: 20px auto;
        }
    }

    &__img {
        width: 400px;
        height: 265px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(.8);

            &:hover {
                filter: grayscale(0);
                transition: $trs;
            }
        }

        @media (max-width: $breakpoints480) {
            width: 300px;
        }
    }

    &__name {
        margin-top: 25px;
        letter-spacing: .1rem;

        a {
            &:hover {
                color: $primary-color;
                transition: $trs;
            }
        }
    }
}